@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
body {
    background-color: #131722;
    color: #fff !important;
    font-family: 'Montserrat', 'sans-serif';
}

.upper {
    width: 25%;
    margin-bottom: 25px;
    height: 3px;
    background-color: gray;
}

.lower {
    width: 75%;
    margin-bottom: 25px;
    height: 3px;
    background-color: gray;
}

a {
    text-decoration: none!important;
    color: white !important;
}